body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: Arial, "Arial MT", "serif";
}

body * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body *::-webkit-scrollbar {
    display: none;
}

.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    overflow: hidden;
}

/* header */
.header {
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: table;
    height: 10%;
    background: rgba(0, 0, 0, 0.9);
}

.header span {
    display: table-cell;
    font-weight: bolder;
    vertical-align: middle;
    font-size: 40pt;
    font-family: "DejaVu Sans Mono", serif;
    padding: 5pt;
    width: available;
    text-align: center;
}

/* footer */
.footer {
    z-index: 3;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: table;
    height: 10%;
    background: rgba(0, 0, 0, 0.9);
}

.footer div {
    display: table-cell;
    font-weight: bolder;
    vertical-align: middle;
}

.footer span {
    font-size: 40pt;
    font-family: "DejaVu Sans Mono", serif;
    padding: 5pt;
    width: available;
    text-align: center;
    color: orange;
}

/* content */
.content {
    z-index: 1;
    position: absolute;
    overflow-y: scroll;
    top: 10%;
    left: 0;
    width: 100%;
    height: 70%;
    margin-top: 5%
}

table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;
}

td {
    font-size: 30pt;
    height: 50pt;
    border-top: 1pt #ffffff solid;
}

th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    padding-bottom: 2%;
    padding-top: 2%;
}

.content table tr .amount {
    text-align: center;
}

th[id=header_name] {
    width: 50%;
}

th[id=header_amount] {
    min-width: 3%;
}

th[id=header_temp_total] {
    min-width: 7%;
}

.invisible_row {
    border: 0;
}

.floating_centered {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.div_cashpoint_customer_info {
    z-index: 4;
    width: 80%;
    height: 80%;
    background: white;
    color: green;
    font-weight: bolder;
    font-size: 50pt;
    display: table;
    transition: 0.5s;
    border-radius: 5pt;
    text-align: center;
}

.cashpoint_customer_video {
    z-index: 3;
    max-width: 80%;
    max-height: 75%;
    aspect-ratio: 16 / 9;
}

.div_cashpoint_customer_info * {
    vertical-align: middle;
}

.id {
    margin: 5pt;
    padding: 5pt;
    border: 2pt solid red;
    border-radius: 2pt;
}