:root {
    --screen-width: 1080pt;
}

body {
    padding: 0;
    margin: 0;
}

.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Monospaced, monospace;
}
.content * {
    color: white;
}

table[id=table_ids] {
    width: 1080px;
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
    max-height: calc(100% - 80px - 700px);
}

th:first-of-type {
    width: calc(1080px * (2/3));
}

th:nth-of-type(2) {
    width: calc(1080px * (1/3));
}

table[id=table_ids] tr {
    height: 50pt;
}

table[id=table_ids] span {
    width: 30%;
    margin: 5%;
    font-size: 130px;
    display: inline-block;
    padding: 3%;
    text-align: center;
    border-radius: 5pt;
}

table[id=table_ids] tr td:first-child span {
    border: 1pt solid red;
}

table[id=table_ids] tr td:nth-child(2) span {
    border: 1pt solid green;
    width: 65%
}

table[id=table_ids] tr:nth-child(2) td:nth-child(2) span {
    border: 5pt solid green;
    width: 65%
}

.info {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height : 80px;
    font-size: 60px;
    background: red;
    font-family: monospace;
}